# Directories
cache
coverage
out
convex/_generated/*
# Files
*.env
*.log
.DS_Store
lcov.info

# Testing
test/**/*.tree
lcov.info
report

# Broadcasts
!broadcast
broadcast/*
broadcast/*/31337/


# Soldeer
/dependencies

node_modules
.env.local
